.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	height: 5vh;

	position: sticky;
	top: 0;
}

.heading {
	font-size: 1.5rem;
	font-weight: 500;
}

.nav-box {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 0.6rem;
	text-align: end;
}

.nav-box img {
	width: 1.8rem;
	height: 1.8rem;
}
