.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
}

.heading {
	font-size: 1.5rem;
	font-weight: 500;
}

.logo button {
	background: transparent;
	border: none;
}

.logo img {
	width: 2rem;
}
