.news-item {
	display: grid;
	grid-template-columns: 0.4fr 0.6fr;
	margin-bottom: 50px;
	gap: 10px;

	text-decoration: none;
	color: inherit;
}

.left img {
	height: 250px;
	width: 100%;
	object-fit: cover;
	border-radius: 5px;
}

.right {
	padding: 10px;
}

.title {
	font-size: 1.5rem;
	font-weight: 600;
}

.extras {
	margin: 8px auto;
	font-size: 0.9rem;
	font-weight: 700;
}

.author {
	margin-right: 5px;
}

.content {
	font-size: 1.2rem;
	line-height: 1.4;
}

@media screen and (width <= 800px) {
	.news-item {
		display: flex;
		flex-direction: column;
	}
}
