.sidebar {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
	height: 95vh;
}

.sidebar button {
	font-size: 1.5rem;
}

.menu-options {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 0.5rem;
	padding: 1rem;
	text-align: end;
	height: 5vh;
}

.menu-options img {
	width: 2.5rem;
	height: 2.5rem;
}
